{% extends "melissa_steve/base.html" %}

{% block content %}
<img class="wedding-illustration" src="/static/img/melissa-steve.jpg" alt="Melissa + Steve">
<div class="section top-section">
	<h1>Melissa & Steve</h1>
	<h2>January 25th, 2014, 4pm</h2>
</div>

<div class="section rsvp-section">
	<h3>RSVP</h3>
	<form id="frmRSVP" class="rsvp-form" action="{% url 'wedding_rsvp:submit' %}" method="POST">
		{% csrf_token %}
		<div class="field">
			<label id="rdoAttending" for="rdoAttending">Are you attending?</label><br>
			<input type="radio" id="rdoAttendingYes" name="rdoAttending" value="yes"> <label for="rdoAttendingYes">You bet! Wouldn't miss it!</label><br>
			<input type="radio" id="rdoAttendingNo" name="rdoAttending" value="no"> <label for="rdoAttendingNo">No - sorry, it's just not possible.</label><br>
		</div>

		<div class="extra-form">
			<div id="namesField" class="field">
				<label id="namesLabel" for="txtNames">Please enter the full names of attendees:</label><br>
				<input type="text" id="txtNames" name="txtNames" placeholder="Rufus Xaviar Sarsparilla"><br>
			</div>
			<div id="dietField" class="field">
				<label for="txtDiet">Please enter any sort of dietary restrictions:</label><br>
				<input type="text" id="txtDiet" name="txtDiet" placeholder="ex. I am allergic to salted caramel"><br>
			</div>

			<input id="submitRSVP" class="submit" type="submit" value="Send">
		</div>

		
	</form>
</div>

<div class="section map-section">
	<h3>Map</h3>
	<div id="mapCanvas" class="map"></div>
</div>

<div class="section hotel-section">
	<h3>Hotels</h3>
	<p>Some hotels in the general area.</p>
	<div class="hotel-block">
		<a href="http://www.thedrakehotel.ca/" target="_blank">Drake Hotel</a>
		<p>Really, really close. Walkable to the Great Hall.<br>
			416-531-5042
		</p>
	</div>
	<div class="hotel-block">
		<a href="http://www.gladstonehotel.com/" target="_blank">Gladstone Hotel</a>
		<p>Really close. Walkable to the Great Hall.<br>
			416-531-4635 ext 0<br>
			<a href="reservations@gladstonehotel.com">reservations@gladstonehotel.com</a>
		</p>
	</div>
	
	<div class="hotel-block">
		<a href="http://www.sheratontoronto.com/" target="_blank">Sheraton Centre Toronto</a>
		<p>Should be 15-20 minutes on the Queen streetcar heading west. Unless there's traffic, a marathon, a parade, a protest, or sometimes no reason at all but it's late anyhow.<br>
			888-627-7175
		</p>
	</div>
	<div class="hotel-block">
		<a href="http://torontoregency.hyatt.com/en/hotel/home.html" target="_blank">Hyatt Regency Toronto</a>
		<p>Walk up to Queen and take the Queen streetcar heading west. Or cab it, maybe $15. These downtown spots might have better parking options.<br>
			416-343-1234
		</p>
	</div>
	<div class="hotel-block">
		<a href="http://www.hitorontoblooryorkville.ca/" target="_blank">Holiday Inn Toronto Bloor Yorkville</a>
		<p>They call it midtown, but it's not really further from the venue than the downtown options. Cab probably under $20, should be parking options.<br>
			1-877-660-8550
		</p>
	</div>
	<div class="hotel-block">
		<a href="http://www.marriott.com/hotels/travel/yyztd-residence-inn-toronto-downtown-entertainment-district/" target="_blank">Residence Inn Toronto Downtown</a>
		<p>Probably cab it, under $20. These downtown spots might have better parking options.<br>
			1-800-960-6752
		</p>
	</div>
	<div class="hotel-block">
		<a href="http://hiltongardeninn3.hilton.com/en/hotels/ontario/hilton-garden-inn-toronto-downtown-YYZDTGI/index.html" target="_blank">Hilton Garden Inn Toronto </a>
		<p>Probably cab it, under $20. These downtown spots might have better parking options.<br>
			1-416-593-9200
		</p>
	</div>
	<div class="hotel-block">
		<a href="http://www.super8.com/hotels/ontario/toronto/super-8-downtown-toronto/hotel-overview" target="_blank">Super 8 Downtown Toronto</a>
		<p>It's in Chinatown, but whatever, it's fine. Probably would cab it for less than $20, could walk down to Queen and take the streetcar westbound.<br>
			1-647-426-8118
		</p>
	</div>
</div>

{% endblock %}

{% block cls %}
{% endblock %}

{% block script %}
<script>
$(document).ready(function() {
    Main.init({
    });    
});
</script>
{% endblock %}