{% extends "melissa_steve/base.html" %}

{% block content %}
<img class="wedding-illustration" src="/static/img/melissa-steve.jpg" alt="Melissa + Steve">
<div class="section top-section">
	<h1>Melissa & Steve</h1>
	<h2>January 25th, 2014</h2>
</div>

<div class="section rsvp-section">
	<h3>RSVP</h3>
	<form id="frmRSVP" class="rsvp-form" action="{% url 'wedding_rsvp:submit' %}" method="POST">
		{% csrf_token %}
		<div class="field">
			<label id="rdoAttending" for="rdoAttending">Are you attending?</label><br>
			<input type="radio" id="rdoAttendingYes" name="rdoAttending" value="yes"> <label for="rdoAttendingYes">You bet! Wouldn't miss it!</label><br>
			<input type="radio" id="rdoAttendingNo" name="rdoAttending" value="no"> <label for="rdoAttendingNo">No - sorry, it's just not possible.</label><br>
		</div>

		<div class="extra-form">
			<div id="namesField" class="field">
				<label id="namesLabel" for="txtNames">Please enter the full names of attendees:</label><br>
				<input type="text" id="txtNames" name="txtNames" placeholder="Rufus Xaviar Sarsparilla"><br>
			</div>
			<div id="dietField" class="field">
				<label for="txtDiet">Please enter any sort of dietary restrictions:</label><br>
				<input type="text" id="txtDiet" name="txtDiet" placeholder="ex. I am allergic to salted caramel"><br>
			</div>

			<input id="submitRSVP" class="submit" type="submit" value="Send">
		</div>

		
	</form>
</div>

<div class="section map-section">
	<h3>Map</h3>
	<div id="mapCanvas" class="map"></div>
</div>

{% endblock %}

{% block cls %}
{% endblock %}

{% block script %}
<script>
$(document).ready(function() {
    Main.init({
    });    
});
</script>
{% endblock %}